/* -----------------------------------------
Block editor styles
----------------------------------------- */

/* -----------------------------------------
 Archive Styles
----------------------------------------- */

.entry-item-title {
  font-size: 22px;
}

.entry-item-title a {
  color: currentColor;
}

.entry-section .entry-item-title {
  font-size: 22px;
  line-height: 1.25;
}

.row-columns-2 .entry-title,
.row-columns-3 .entry-title,
.row-columns-4 .entry-title {
  font-size: 22px;
}

.entry-item .entry-header {
  margin-bottom: 25px;
}

.entry-item .entry-title {
  font-size: 22px;
}

.entry-item-excerpt {
  font-size: 16px;
  line-height: 1.375;
}

.entry-item-media .entry-item-excerpt {
  font-size: 16px;
}

.entry-author-desc {
  font-size: 14px;
  line-height: 1.714285714;
}

.entry-author-title {
  font-size: 20px;
}

.entry-author-thumbnail {
  width: 100px;
}

.comment-list .comment-body {
  margin-bottom: 45px;
}

/* Entry Items
=================================== */

.entry-item-content {
  text-align: left;
}

.entry-meta {
  font-size: 14px;
}

.entry-meta-top {
  margin: 0 0 10px;
}

.entry-meta-top-wrap {
  position: relative;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  line-height: normal;
  font-size: 13px;
  color: var(--ignition-secondary-color);
  background-color: var(--ignition-primary-color);
  display: inline-block;
  padding: 0 18px 0 8px;
}

.entry-meta-top-wrap::after,
.entry-meta-top-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--ignition-primary-color);
  transform: skewX(-15deg);
  z-index: 0;
  display: none;
}

.entry-meta-top-wrap::after {
  display: block;
  right: -3px;
}

.entry-meta-category {
  position: relative;
  z-index: 1;
  background-color: currentColor;
  font-weight: 700;
  font-size: 13px;
  padding: 4px 6px 4px 8px;
  display: inline-block;
  position: relative;
  bottom: -4px;
  left: -4px;
  transform: translate(-10px, 0);
}

.entry-meta-category::after,
.entry-meta-category::before {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: currentColor;
  transform: skewX(-15deg);
  z-index: 0;
  display: none;
}

.entry-meta-category::after {
  display: block;
  right: -3px;
}

.entry-meta-category span,
.entry-meta-category a {
  color: var(--ignition-colors-white);
}

.entry-meta-category span:hover,
.entry-meta-category a:hover {
  color: var(--ignition-colors-white);
}

.entry-meta-info {
  position: relative;
  z-index: 1;
  padding: 4px 8px 4px 5px;
  background-color: currentColor;
  display: inline-block;
  bottom: -4px;
  right: 5px;
  transform: translateX(100%);
  position: absolute;
}

.entry-meta-info::after,
.entry-meta-info::before {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: currentColor;
  transform: skewX(-15deg);
  z-index: 0;
  display: none;
}

.entry-meta-info::before {
  display: block;
  left: -3px;
}

.entry-meta-info a,
.entry-meta-info .ignition-icons,
.entry-meta-info span {
  color: var(--ignition-colors-white);
}

.entry-meta-info a:hover,
.entry-meta-info .ignition-icons:hover,
.entry-meta-info span:hover {
  color: var(--ignition-colors-white);
}

.entry-time {
  text-transform: uppercase;
  color: var(--ignition-secondary-text-color);
  font-size: 13px;
  line-height: normal;
  display: inline-block;
  font-weight: var(--ignition-font-weight-normal);
}

.entry-time + .entry-title {
  margin-top: -5px;
}

.entry-meta-top .entry-time {
  color: var(--ignition-colors-white);
  padding: 4px 0;
}

.entry-meta-comment-no {
  color: var(--ignition-colors-white);
  font-weight: var(--ignition-font-weight-normal);
  margin-right: 7px;
}

.entry-meta-comment-no:only-child {
  margin: 0;
}

.entry-meta-comment-no:hover {
  color: var(--ignition-colors-white);
}

.entry-meta-comment-no .ignition-icons {
  position: relative;
  top: 1px;
  font-size: 12px;
}

.entry-author {
  margin-top: 4px;
  line-height: normal;
}

.entry-meta-top .entry-author {
  margin-top: 10px;
}

.entry-author-by {
  font-size: 14px;
  opacity: .5;
  position: relative;
  top: -3px;
}

.entry-author-name {
  font-size: 11px;
  text-transform: uppercase;
}

.entry-author-name a {
  color: inherit;
}

.entry-item-content {
  flex: auto;
}

/* Post Layouts
=================================== */

.entry-category-featured-layout {
  margin-bottom: 60px;
}

/* Compact Style / Entries */

.is-style-ignition-public-opinion-entries-compact .entry-item {
  margin-bottom: 20px;
}

.is-style-ignition-public-opinion-entries-compact .entry-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.is-style-ignition-public-opinion-entries-compact .entry-meta-info,
.is-style-ignition-public-opinion-entries-compact .entry-meta-category,
.is-style-ignition-public-opinion-entries-compact .entry-author,
.is-style-ignition-public-opinion-entries-compact .entry-item-excerpt {
  display: none;
}

.is-style-ignition-public-opinion-entries-compact .entry-meta-top-wrap {
  background: none;
  padding: 0;
}

.is-style-ignition-public-opinion-entries-compact .entry-meta-top-wrap::after,
.is-style-ignition-public-opinion-entries-compact .entry-meta-top-wrap::before {
  display: none;
}

.is-style-ignition-public-opinion-entries-compact .entry-title {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.is-style-ignition-public-opinion-entries-compact .entry-time {
  color: var(--ignition-secondary-text-color);
}

.is-style-ignition-public-opinion-entries-compact .entry-meta-top {
  order: 1;
  margin: 0;
}

.is-style-ignition-public-opinion-entries-compact .entry-thumb {
  margin-bottom: 15px;
}

.is-style-ignition-public-opinion-entries-compact .entry-item-media {
  align-items: center;
}

.is-style-ignition-public-opinion-entries-compact .entry-item-media .entry-thumb {
  width: 160px;
  margin: 0 15px 0 0;
}

.is-style-ignition-public-opinion-entries-compact .entry-item-media .entry-thumb a {
  display: block;
  line-height: 1;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

.is-style-ignition-public-opinion-entries-compact .entry-item-media .entry-thumb img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Overlaid Style / Entries */

[class*="is-style-ignition-public-opinion-layout-"] .entry-item {
  position: relative;
  margin-bottom: 0;
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item::before {
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 60%, transparent 100%);
  z-index: 1;
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-header {
  margin-bottom: 0;
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-meta,
[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-title,
[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-item-excerpt {
  color: var(--ignition-colors-white);
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-item-excerpt {
  display: none;
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  color: var(--ignition-colors-white);
  z-index: 3;
  text-align: left;
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-item-content a {
  color: currentColor;
}

[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-item-thumb,
[class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-thumb {
  line-height: 0;
  margin: 0;
}

[class*="is-style-ignition-public-opinion-layout-overlay"] .row-columns-1 .entry-item {
  height: 500px;
}

[class*="is-style-ignition-public-opinion-layout-hero-"] .entry-thumb,
.is-style-ignition-public-opinion-layout-overlay-slideshow .entry-thumb,
.is-style-ignition-public-opinion-layout-overlay .row-columns-1 .entry-thumb {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

[class*="is-style-ignition-public-opinion-layout-hero-"] .entry-thumb a,
.is-style-ignition-public-opinion-layout-overlay-slideshow .entry-thumb a,
.is-style-ignition-public-opinion-layout-overlay .row-columns-1 .entry-thumb a {
  display: block;
}

[class*="is-style-ignition-public-opinion-layout-hero-"] .entry-thumb img,
.is-style-ignition-public-opinion-layout-overlay-slideshow .entry-thumb img,
.is-style-ignition-public-opinion-layout-overlay .row-columns-1 .entry-thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

[class*="is-style-ignition-public-opinion-layout-hero-"] .row-items {
  display: grid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 500px;
}

[class*="is-style-ignition-public-opinion-layout-hero-"] .row-items [class*="col-"] {
  flex: auto;
  max-width: 100%;
}

[class*="is-style-ignition-public-opinion-layout-hero-"] .entry-item {
  height: 100%;
}

/* Layout 1: Left / 2 Right */

.is-style-ignition-public-opinion-layout-hero-1 [class*="col-"] {
  grid-column: span 3;
}

.is-style-ignition-public-opinion-layout-hero-1 .row-items {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.is-style-ignition-public-opinion-layout-hero-1 .row-items > :first-child {
  grid-row: span 2;
  grid-column: span 4;
}

/* Layout: 2 Left / 1 Right */

.is-style-ignition-public-opinion-layout-hero-2 [class*="col-"] {
  grid-column: span 3;
}

.is-style-ignition-public-opinion-layout-hero-2 .row-items {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense;
}

.is-style-ignition-public-opinion-layout-hero-2 .row-items > :first-child {
  grid-row: span 2;
  grid-column: span 4;
  grid-column-start: 4;
  grid-column-end: 8;
}

/* Layout: 1 Left / 4 Right */

.is-style-ignition-public-opinion-layout-hero-3 [class*="col-"] {
  grid-column: span 1;
}

.is-style-ignition-public-opinion-layout-hero-3 .row-items {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.is-style-ignition-public-opinion-layout-hero-3 .row-items > :first-child {
  grid-row: span 2;
  grid-column: span 2;
}

/* Layout: 4 Left / 1 Right */

.is-style-ignition-public-opinion-layout-hero-4 [class*="col-"] {
  grid-column: span 1;
}

.is-style-ignition-public-opinion-layout-hero-4 .row-items {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense;
}

.is-style-ignition-public-opinion-layout-hero-4 .row-items > :first-child {
  grid-row: span 2;
  grid-column: span 2;
  grid-column-start: 3;
  grid-column-end: 5;
}

/* Slideshow */

.is-style-ignition-public-opinion-layout-overlay-slideshow {
  position: relative;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow [class*="col"] {
  padding: 0;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow > .row-items {
  position: relative;
  overflow: hidden;
  height: auto;
  opacity: 1;
  transition: opacity .18s ease;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow > .row-items:not(.slick-initialized) {
  opacity: 0;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .entry-item {
  height: 500px;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .slick-arrow {
  box-shadow: none;
  border: 0;
  width: 62px;
  height: 62px;
  background: none;
  color: var(--ignition-colors-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .slick-arrow:hover {
  background: none;
  color: var(--ignition-colors-white);
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .slick-next {
  right: 0;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .slick-prev {
  left: 0;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .slick-arrow:focus,
.is-style-ignition-public-opinion-layout-overlay-slideshow .slick-arrow:active {
  outline: 0;
}

/* Force media to card */

.is-style-ignition-public-opinion-entries-card .entry-item-media {
  display: block;
}

.is-style-ignition-public-opinion-entries-card .entry-item-media .entry-thumb {
  max-width: 100%;
  margin: 0 0 30px;
}

/* Pagination
=================================== */

.navigation .page-numbers,
.navigation a,
.woocommerce-pagination .page-numbers,
.woocommerce-pagination a {
  padding: 12px 21px;
  font-size: 16px !important;
}

/* -----------------------------------------
  WordPress Blocks styles
----------------------------------------- */

/* Button Block
=================================== */

.gutenbee-block-button-link,
.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]):hover,
.wp-block-button__link {
  background-color: var(--ignition-buttons-background-color);
  color: var(--ignition-buttons-text-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]),
.gutenbee-block-button-link {
  border-color: var(--ignition-buttons-background-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]) {
  color: var(--ignition-buttons-background-color);
}

/* Paragraph Block
=================================== */

.has-drop-cap:not(:focus)::first-letter {
  padding: .1rem .35rem 0 0;
  font-size: 3.2rem;
  line-height: .9;
}

/* Heading Block
=================================== */

.is-style-ignition-public-opinion-heading-alt {
  position: relative;
  z-index: 1;
  padding: 0.365em 2em 0.365em 0.65em !important;
  display: block;
  position: relative;
  z-index: auto;
  line-height: 1;
}

.is-style-ignition-public-opinion-heading-alt::after,
.is-style-ignition-public-opinion-heading-alt::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0.7em;
  height: 100%;
  background-color: #000;
  transform: skewX(-15deg);
  z-index: -1;
  display: none;
}

.is-style-ignition-public-opinion-heading-alt::before {
  display: block;
  left: -10px;
}

.is-style-ignition-public-opinion-heading-alt::before {
  background-color: inherit;
  width: 1em;
  z-index: 0;
  right: -10px;
  left: auto;
}

/* Separator Block
=================================== */

.wp-block-separator {
  background-color: var(--ignition-border-color);
}

/* Pullquote Block
=================================== */

.wp-block-pullquote {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.wp-block-pullquote.is-style-solid-color {
  font-size: 1rem;
  line-height: 1.33;
  position: relative;
  padding: 30px 30px 30px 80px;
  border: 0;
}

.wp-block-pullquote.is-style-solid-color::before {
  content: "\00201C";
  font-style: normal;
  font-size: 4rem;
  line-height: 0;
  position: absolute;
  left: 30px;
  top: 57px;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  margin: 0;
  max-width: 100%;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 1rem;
  line-height: 1.56;
  font-weight: var(--ignition-font-weight-normal);
}

.wp-block-pullquote.is-style-solid-color blockquote .wp-block-pullquote__citation {
  font-size: .875rem;
  font-weight: var(--ignition-font-weight-normal);
}

/* Quote block
=================================== */

.wp-block-quote {
  font-size: 1rem;
  line-height: 1.33;
  position: relative !important;
  padding: 0 0 0 50px;
  border: 0;
}

.wp-block-quote::before {
  content: "\00201C";
  display: block;
  font-style: normal;
  font-size: 4rem;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 33px;
}

.wp-block-quote p {
  font-size: 1rem;
  line-height: 1.56;
  font-weight: var(--ignition-font-weight-normal);
}

.wp-block-quote cite {
  font-size: .875rem;
  font-weight: var(--ignition-font-weight-normal);
}

.wp-block-quote.is-style-large {
  padding: 0 0 0 50px;
}

.wp-block-quote.is-style-large::before {
  content: "\00201C";
  display: block;
}

.wp-block-quote.is-style-large p {
  font-size: 24px;
}

.wp-block-quote.has-text-align-center {
  padding: 0;
}

.wp-block-quote.has-text-align-center::before {
  display: block;
  position: static;
  margin-top: 30px;
  margin-bottom: 15px;
}

.wp-block-quote.has-text-align-right {
  padding: 0 50px 0 0;
}

.wp-block-quote.has-text-align-right::before {
  left: auto;
  right: 0;
  top: -5px;
  transform: rotate(180deg);
}

/* Global Widget Block Styles
=================================== */

.wp-block-rss li a,
.wp-block-archives li a,
.wp-block-categories li a {
  color: var(--ignition-text-color);
}

/* Tags
=================================== */

.tag-cloud-link {
  color: var(--ignition-text-color);
}

/* Search Widget Block
=================================== */

.wp-block-search .wp-block-search__button {
  background: var(--ignition-primary-color);
  color: var(--ignition-colors-white);
}

/* Latest Posts block
=================================== */

.wp-block-latest-posts > li > a {
  color: var(--ignition-text-color);
}

.wp-block-latest-posts > li > a:hover {
  color: var(--ignition-primary-color);
}

/* File Block
=================================== */

.wp-block-file__content-wrapper .wp-block-file__button {
  background-color: var(--ignition-primary-color);
  color: var(--ignition-colors-white);
}

/* -----------------------------------------
  GutenBee Plugin Blocks
----------------------------------------- */

/* Post Types Block
=================================== */

.is-style-ignition-public-opinion-layout-overlay-slideshow {
  height: 500%;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .row-items {
  opacity: 1 !important;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.is-style-ignition-public-opinion-layout-overlay-slideshow .row-items [class*=col] {
  height: 100%;
}

/* -----------------------------------------
  WooCommerce Blocks
----------------------------------------- */

/* WooCommerce - Product Listings
=================================== */

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-link:hover {
  color: var(--ignition-primary-color);
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title a {
  color: var(--ignition-text-color);
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title a:hover {
  color: var(--ignition-primary-color);
}

.wc-block-pagination .wc-block-pagination-page {
  border-color: 2px solid var(--ignition-border-color);
  color: var(--ignition-text-color);
}

.wc-block-pagination .wc-block-pagination-page.wc-block-pagination-page--active,
.wc-block-pagination .wc-block-pagination-page:hover {
  color: var(--ignition-colors-white);
}

/* Reviews block
========================================= */

.wc-block-review-list .wc-block-review-list-item__published-date {
  color: var(--ignition-secondary-text-color);
}

.wc-block-review-list .wc-block-review-list-item__product a {
  color: var(--ignition-text-color);
}

/* Product Categories block
========================================= */

.wc-block-product-categories-list li a {
  color: var(--ignition-text-color);
}

.wc-block-product-categories .wc-block-product-categories__button {
  border-color: var(--ignition-border-color);
}

/* Attribute Filters block
========================================= */

.wc-block-attribute-filter .wc-block-attribute-filter-list [type="checkbox"]:checked + label {
  color: var(--ignition-primary-color);
}

.wc-block-attribute-filter .wc-block-attribute-filter-list label {
  color: var(--ignition-text-color);
}

/* Active Filters block
========================================= */

.wc-block-active-filters .wc-block-active-filters__list.wc-block-active-filters__list--chips li.wc-block-active-filters__list-item {
  color: var(--ignition-text-color);
}

/* Filter by Price block
========================================= */

.wc-block-price-filter .wc-block-price-filter__range-input-wrapper .wc-block-price-filter__range-input-progress {
  --range-color: var(--ignition-border-color);
}

/* Sort Select Element block
========================================= */

.wc-block-sort-select .wc-block-sort-select__select {
  color: var(--ignition-text-color);
}

@media (min-width: 1230px) {
  [class*="is-style-ignition-public-opinion-layout-overlay"] .row-columns-4 .entry-author {
    display: none;
  }

  [class*="is-style-ignition-public-opinion-layout-overlay"] .row-columns-4 .entry-title {
    font-size: 16px;
  }

  .is-style-ignition-public-opinion-layout-hero-3 > div > div:not(:first-child) .entry-meta-category,
  .is-style-ignition-public-opinion-layout-hero-3 > div > div:not(:first-child) .entry-time,
  .is-style-ignition-public-opinion-layout-hero-3 > div > div:not(:first-child) .entry-meta-info {
    font-size: 12px;
  }

  .is-style-ignition-public-opinion-layout-hero-3 > div > div:not(:first-child) .entry-title {
    font-size: 20px;
  }

  .is-style-ignition-public-opinion-layout-hero-4 > div > div:not(:first-child) .entry-meta-category,
  .is-style-ignition-public-opinion-layout-hero-4 > div > div:not(:first-child) .entry-time,
  .is-style-ignition-public-opinion-layout-hero-4 > div > div:not(:first-child) .entry-meta-info {
    font-size: 12px;
  }

  .is-style-ignition-public-opinion-layout-hero-4 > div > div:not(:first-child) .entry-title {
    font-size: 20px;
  }

  .is-style-ignition-public-opinion-layout-overlay .row-columns-4 .entry-author,
  .is-style-ignition-public-opinion-layout-overlay .row-columns-4 .entry-meta-top {
    display: none;
  }

  .is-style-ignition-public-opinion-layout-overlay .row-columns-4 .entry-meta-category {
    font-size: 10px;
  }

  .is-style-ignition-public-opinion-layout-overlay .row-columns-4 .entry-title {
    font-size: 16px;
  }
}

@media (max-width: 1229px) {
  [class*="is-style-ignition-public-opinion-layout-"] .entry-item .entry-item-content {
    padding: 20px;
  }

  .is-style-ignition-public-opinion-layout-hero-3 [class*="col-"] {
    grid-column: span 2;
  }

  .is-style-ignition-public-opinion-layout-hero-3 .row-items {
    height: auto;
  }

  .is-style-ignition-public-opinion-layout-hero-3 .row-items > :first-child .entry-item {
    height: 500px;
  }

  .is-style-ignition-public-opinion-layout-hero-3 .entry-item {
    height: 250px;
  }

  .is-style-ignition-public-opinion-layout-hero-4 [class*="col-"] {
    grid-column: span 2;
  }

  .is-style-ignition-public-opinion-layout-hero-4 .row-items {
    height: auto;
  }

  .is-style-ignition-public-opinion-layout-hero-4 .row-items > :first-child .entry-item {
    height: 500px;
  }

  .is-style-ignition-public-opinion-layout-hero-4 .entry-item {
    height: 250px;
  }
}

@media (max-width: 991px) {
  .is-style-ignition-public-opinion-layout-hero-3 .row-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .is-style-ignition-public-opinion-layout-hero-3 .row-items > :first-child .entry-item {
    height: 250px;
  }

  .is-style-ignition-public-opinion-layout-hero-4 .row-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .is-style-ignition-public-opinion-layout-hero-4 .row-items > :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .is-style-ignition-public-opinion-layout-hero-4 .row-items > :first-child .entry-item {
    height: 250px;
  }

  .is-style-ignition-public-opinion-layout-overlay-slideshow .entry-item {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .is-style-ignition-public-opinion-layout-hero-1 .row-items {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .is-style-ignition-public-opinion-layout-hero-1 .row-items .entry-item {
    height: 250px;
  }

  .is-style-ignition-public-opinion-layout-hero-1 .row-items > :first-child {
    grid-row: span 2;
    grid-column: span 2;
  }

  .is-style-ignition-public-opinion-layout-hero-2 .row-items {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .is-style-ignition-public-opinion-layout-hero-2 .row-items .entry-item {
    height: 250px;
  }

  .is-style-ignition-public-opinion-layout-hero-2 .row-items > :first-child {
    grid-row: span 2;
    grid-column: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}