/* -----------------------------------------
	Block Styles
----------------------------------------- */

/* Headings
========================================= */
.is-style-ignition-public-opinion-heading-underline {
	padding-bottom: 10px;
	border-bottom: 2px solid var(--ignition-text-color);
}

/* -----------------------------------------
	GutenBee Blocks
----------------------------------------- */

/* GutenBee Post Types
========================================= */
@include media-breakpoint-up(xl) {
	.is-style-ignition-public-opinion-layout-hero-3,
	.is-style-ignition-public-opinion-layout-hero-4 {
		> div > div:not(:first-child) {
			.entry-author,
			.entry-time,
			.entry-meta-info {
				display: none;
			}

			.entry-meta-category {
				font-size: 10px;
			}

			.entry-title {
				font-size: 18px;
				line-height: 1.2;
			}
		}
	}

	.is-style-ignition-public-opinion-layout-overlay {
		.row-columns-4 {
			.entry-author,
			.entry-time,
			.entry-meta-info {
				display: none;
			}

			.entry-meta-category {
				font-size: 10px;
			}

			.entry-title {
				font-size: 16px;
			}
		}
	}
}

[class*="is-style-ignition-public-opinion-layout-hero-"],
.is-style-ignition-public-opinion-layout-overlay,
.is-style-ignition-public-opinion-layout-overlay-slideshow {
	.entry-meta-top-wrap {
		.entry-time {
			color: var(--ignition-colors-white);
		}
	
		.entry-meta-info {	
			a,
			.ignition-icons,
			span {
				color: var(--ignition-colors-white);
			}
		}
	}
}

.is-style-ignition-public-opinion-layout-overlay {
	.row-items:not(.no-gutters) {
		> div {
			margin-bottom: 30px;
		}
	}
}

@include media-breakpoint-between(md, lg) {
	.is-style-ignition-public-opinion-layout-overlay {
		.row-columns-3 {
			.entry-author,
			.entry-time,
			.entry-meta-info {
				display: none;
			}

			.entry-meta-category {
				font-size: 10px;
			}

			.entry-title {
				font-size: 16px;
			}
		}
	}

	.is-style-ignition-public-opinion-layout-hero-1,
	.is-style-ignition-public-opinion-layout-hero-2 {
		> div > div:not(:first-child) {
			.entry-time,
			.entry-meta-info {
				display: none;
			}

			.entry-meta-category {
				font-size: 10px;
			}

			.entry-title {
				font-size: 16px;
				line-height: 1.2;
			}
		}
	}
}